pipeline/PL_INGEST_SEASON_DATA.json
{
	"name": "PL_INGEST_SEASON_DATA",
	"properties": {
		"description": "This pipeline will ingest season data from ergast API in JSON file format",
		"activities": [
			{
				"name": "act_web1",
				"description": "This activity will get data from API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "act_set_limit_variable_value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Limit",
					"value": {
						"value": "@activity('act_web1').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_set_limit_variable_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('http://ergast.com/api/f1/seasons.json?limit=',variables('Limit'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_Set_variable_seasons_data",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "seasons_data",
					"value": {
						"value": "@{activity('act_Web2').output.MRData.SeasonTable.Seasons}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_Copy_seasons_data_to_bronze_layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_Set_variable_seasons_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "my_column",
								"value": {
									"value": "@variables('seasons_data')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "my_column",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SOURCE_TEMP_TXT_DATA3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SINK_SEASONS_DATA",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Limit": {
				"type": "String"
			},
			"seasons_data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "API_Ingestion_Pipelines"
		},
		"annotations": []
	}
}